<style>
    .question {
        text-align: left;
        font-size: 20px; /* Updated font size */
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: "Times New Roman", serif; /* Updated font family */
    }

    .answer {
        text-align: left;
        font-size: 20px; /* Updated font size */
        margin-bottom: 40px;
        width: 75%;
        font-family: "Times New Roman", serif; /* Updated font family */
    }
</style>

<div class="question">
    1. What is rest API?
</div>
<div class="answer">
    Representational State Transfer (REST) is an architectural style that defines a set of constraints to be used for creating web services. REST API is a way of accessing web services in a simple and flexible way without having any processing.REST technology is generally preferred to the more robust Simple Object Access Protocol (SOAP) technology because REST uses less bandwidth, simple and flexible making it more suitable for internet usage. It’s used to fetch or give some information from a web service. All communication done via REST API uses only HTTP request.
</div>