<!-- <style>
  div:hover button {
    display: block;
  }
  
  button {
    display: none;
  }
</style> -->

<!-- <app-assignment1></app-assignment1> -->
<!-- <app-countries></app-countries> -->

 <!-- <h1 class="myclass">Gandhar</h1>
<h2>{{title}}</h2>
<h3>{{name}}</h3> 
<button (click)="toggleName()">Toggle Name</button>


<h4>{{student.name}}  {{student.rno}} </h4>
<h5 *ngIf="showArray">{{array}}</h5>
<button (click)="toggleArray()">Toggle</button>

<table>
  <thead>
    <th>Sr No.</th>
    <th>Name</th>
    <th>Emp -Id</th>
  </thead>
  <tbody>
    <tr *ngFor="let e of employees; let i =index">
      <td>{{i+1}}</td>
      <td>{{e.name}}</td>
      <td>{{e.salary}}</td>
      <td>
        <button></button>
      </td>
    </tr>
  </tbody>
</table>

<ul *ngIf="showFlowers" class="flowers">
  <li *ngFor="let f of flowers">
    <p>{{f}}</p>
  </li>
</ul>

<button (click)="displayFlowers()">Toggle Flowers</button>

<div>
  <table>
    <thead>
      <th>Sr. No</th>
      <th> Name</th>
      <th>No of States</th>
    </thead>
    <tbody>
      <tr *ngFor="let c of countries;let i =index">
        <td>{{i+1}}</td>
        <td>{{c.name}}</td>
        <td>{{c.numberOfStates}}</td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<div>
  <input type="text" [(ngModel)]="myField">
</div>
<div>
  <h2>{{myField}}</h2>
</div> -->

<div class="navbar">
  <button routerLink="/home">Home</button>
  <button routerLink="/assignment1">Assignment 1</button>
  <div class="dropdown" >
    <button class="dropbtn">Assignment 2-1</button>
    <div class="dropdown-content">
      <button routerLink="/assignment1/q1">Question 1</button>
      <button routerLink="/assignment1/q2">Question 2</button>
      <button routerLink="/assignment1/q3">Question 3</button>
      <button routerLink="/assignment1/q4">Question 4</button>
      <button routerLink="/assignment1/q5">Question 5</button>
      <button routerLink="/assignment1/q6">Question 6</button>
      <button routerLink="/assignment1/q7">Question 7</button>
      <button routerLink="/assignment1/q8">Question 8</button>
      <button routerLink="/assignment1/q9">Question 9</button>
    </div>
  </div>
  <div class="dropdown" >
    <button class="dropbtn">Assignment 2-2</button>
    <div class="dropdown-content">
      <button routerLink="/login">Login</button>
      <button routerLink="/signup">SignUp</button>
      
    </div>
  </div>
  <button routerLink="/countries">Countries</button>
</div>
<router-outlet></router-outlet>

<!-- <app-home></app-home> -->

<!-- <h1>S2P EduTech</h1>  -->
<!-- <div class="img"> <img src="../assets/image1.jpeg" alt="luffy Gear 5" > </div> -->

  <!-- <li>
    routing navigation in angular
  </li> -->

  