
<!-- <app-home></app-home> -->
<!-- <app-assignment1></app-assignment1> -->
 <h1 class="myclass">Gandhar</h1>
<h2>{{title}}</h2>
<h3>{{name}}</h3> 
<button (click)="toggleName()">Toggle Name</button>


<h4>{{student.name}}  {{student.rno}} </h4>
<h5 *ngIf="showArray">{{array}}</h5>
<button (click)="toggleArray()">Toggle</button>

<table>
  <thead>
    <th>Sr No.</th>
    <th>Name</th>
    <th>Emp -Id</th>
  </thead>
  <tbody>
    <tr *ngFor="let e of employees; let i =index">
      <td>{{i+1}}</td>
      <td>{{e.name}}</td>
      <td>{{e.salary}}</td>
      <td>
        <button></button>
      </td>
    </tr>
  </tbody>
</table>

<ul *ngIf="showFlowers" class="flowers">
  <li *ngFor="let f of flowers">
    <p>{{f}}</p>
  </li>
</ul>

<button (click)="displayFlowers()">Toggle Flowers</button>

<div>
  <table>
    <thead>
      <th>Sr. No</th>
      <th> Name</th>
      <th>No of States</th>
    </thead>
    <tbody>
      <tr *ngFor="let c of countries;let i =index">
        <td>{{i+1}}</td>
        <td>{{c.name}}</td>
        <td>{{c.numberOfStates}}</td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<div>
  <input type="text" [(ngModel)]="myField">
</div>
<div>
  <h2>{{myField}}</h2>
</div>

<button routerLink="/home">Home</button>
<button routerLink="/aboutus">AboutUs</button>
<button routerLink="/services">Services</button>
<button routerLink="/test2/home2">Test2/Home2</button> 
<router-outlet></router-outlet>

<h1>S2P EduTech</h1> 
<div class="img"> <img src="../assets/image1.jpeg" alt="luffy Gear 5" > </div>

  <li>
    routing navigation in angular
  </li>