<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <title>Aditya Varma's CV</title>
</head>
<body>
  <header>
    <h1>R. V. Aditya Varma</h1>
    <p>Enrollment Number: BT21CSE120</p>
    <p>Email: rvenkataditya@gmail.com</p>
  </header>

  <section class="education">
    <h2>Education</h2>
    <p>BTech in Computer Science and Engineering</p>
    
    <p>University: VNIT</p>
  </section>

  <section class="skills">
    <h2>Skills</h2>
    <ul>
      <li>Web Development</li>
      <li>JavaScript</li>
      <li>Angular</li>
      <li>HTML/CSS</li>
    </ul>
  </section>

  <section class="introduction">
    <h2>Introduction</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quas perferendis minima accusantium velit assumenda facilis corporis perspiciatis modi, enim recusandae debitis ab mollitia exercitationem incidunt ut accusamus provident repudiandae!</p>
  </section>

</body>
</html>
